@font-face {
  font-family: "Albra Light";
  src: url("/fonts/Albra\ Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Albra Regular";
  src: url("/fonts/Albra\ Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Albra Medium";
  src: url("/fonts/Albra\ Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Albra Bold";
  src: url("/fonts/Albra\ Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Albra Black";
  src: url("/fonts/Albra\ Black.otf");
  font-weight: 700;
  font-style: normal;
}
//

@font-face {
  font-family: "Larsseit Light";
  src: url("/fonts/Type\ Dynamic\ -\ Larsseit-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit Thin";
  src: url("/fonts/Type\ Dynamic\ -\ Larsseit-Thin.otf");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit Regular";
  src: url("/fonts/Type\ Dynamic\ -\ Larsseit-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit Medium";
  src: url("/fonts/Type\ Dynamic\ -\ Larsseit-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit Bold";
  src: url("/fonts/Type\ Dynamic\ -\ Larsseit-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit ExtraBold";
  src: url("/fonts/Type\ Dynamic\ -\ Larsseit-ExtraBold.otf");
  font-weight: 700;
  font-style: normal;
}
