.wrapper {
  padding: 39px 16px;
  display: flex;
  align-items: center;
  .logo {
    margin-right: 24px;
    width: 60px;
    height: 60px;
  }
  .content {
    .number {
      margin-bottom: 0.7rem;
      font-weight: bold;
    }
    .origin {
      font-size: 14px;
      font-weight: 500;
      color: #74798c;
    }
  }
}
